/**
* Foglio di stile legato alla schermata di impostazioni del modulo
*/
.content-wrap {
    position: relative;
    min-height: 455px
}

#content.bootstrap h3:not(.modal-title),
#content.bootstrap .panel-heading {
  margin: 0;
}

.list-group {
    padding-right: 15px !important;
}

#show_settings {
    display: block;
} 

#show_support {
    display: none;
} 

#show_video {
    display: none;
} 

.active {
    background-color: #49c7f4;
}

.checkbox {
    margin-left: 30px;
}
.help {
    margin-top: 9px;
}
.help > a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #cccccc;
    color: #ffffff;
    padding: 0 5px 0 5px;
}
.help > a:focus {
    text-decoration: none;
}
.fattura24-field {
    margin-left: 30px;
}
.fattura24-label {
    margin-left: 20px;
    font-size: 12px !important;
}
.fattura24-comment {
    font-size: 13px;
    font-style: italic;
    color: grey;
    padding-left: 0.5em;
}
.fattura24-label-correctApiKey {
    font-size: 13px !important;
    color: green;
    padding-left: 1.5em;
    margin-top: 0.5em;
}
.fattura24-label-fe-info {
    font-size: 10px !important;
    color: red;
    padding-left: 1.5em;
    margin-top: 0.5em;
}
.fattura24-error {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff6000;
}
.fattura24-warning {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #ffbf00;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}